
@using IMSWEB.Model
@model PurchaseOrderViewModel

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + " Purchase Order";
}
<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
@using (Html.BeginForm(actionName, "EmobilePurchaseOrder", new { ReturnUrl = ViewBag.ReturnUrl, IsDO = false }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PurchaseOrder.ChallanNo, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.PurchaseOrder.ChallanNo, new { htmlAttributes = new { @class = "input-sm form-control input-sm", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.PurchaseOrder.ChallanNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PurchaseOrder.OrderDate, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            <div class='input-group date' id='OrderDate'>
                                                <input type='text' class="input-sm form-control input-sm" name='OrderDate' />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.PurchaseOrder.OrderDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PurchaseOrder.SupplierId, new { @class = "control-label col-md-2 full-width-picker-label" })
                                        <div class="col-md-10 full-width-picker">
                                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Supplier, id = (Model != null && !string.IsNullOrEmpty(Model.PurchaseOrder.SupplierId)) ? Model.PurchaseOrder.SupplierId : "0" });}
                                            @Html.ValidationMessageFor(m => m.PurchaseOrder.SupplierId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PurchaseOrder.CurrentDue, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.PurchaseOrder.CurrentDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.PurchaseOrder.CurrentDue, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.PurchaseOrder.IsDamagePO, new { htmlAttributes = new { @class = "input-sm" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PurchaseOrder.InvoiceNo, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.PurchaseOrder.InvoiceNo, new { htmlAttributes = new { @class = "input-sm form-control input-sm" } })
                                            @Html.ValidationMessageFor(m => m.PurchaseOrder.InvoiceNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-12">
                                    <input type="checkbox" id="IsScanner" />
                                    Is Scanner
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.ProductId, new { @class = "control-label col-md-2 full-width-picker-label" })
                                <div class="col-md-9 full-width-picker">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.EmobileProduct, id = (Model != null && !string.IsNullOrEmpty(Model.PODetail.ProductId)) ? Model.PODetail.ProductId : "0" });}
                                    @Html.ValidationMessageFor(m => m.PODetail.ProductId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1" style="padding-left:10px !important">
                                    <button id="btnAddProduct" type="button" class="btn btn-xs btn-info">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.GodownID, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(m => m.PODetail.GodownName, new { htmlAttributes = new { @class = "input-sm form-control input-sm" } })
                                    @Html.HiddenFor(m => m.PODetail.GodownID)
                                    @Html.ValidationMessageFor(m => m.PODetail.GodownID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1" style="padding-left:10px !important">
                                    <button id="btnAddGodown" type="button" class="btn btn-xs btn-info">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.PreviousStock, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.PreviousStock, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.PODetail.PreviousStock, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.UnitPrice, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.UnitPrice, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.PODetail.UnitPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.EMOBRPRate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.EMOBRPRate, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 2 } })
                                    @Html.ValidationMessageFor(m => m.PODetail.EMOBRPRate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.PODetail.MRPRate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.MRPRate, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 2 } })
                                    @Html.ValidationMessageFor(m => m.PODetail.MRPRate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.PODetail.ExtraPPDISPer, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 4 } })
                            @Html.HiddenFor(m => m.PODetail.CreditSalesRate, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 8 } })
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.EMOBMRPRate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.EMOBMRPRate, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 6 } })
                                    @Html.ValidationMessageFor(m => m.PODetail.EMOBMRPRate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.PODetail.SalesRate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.SalesRate, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 6 } })
                                    @Html.ValidationMessageFor(m => m.PODetail.SalesRate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.ColorId, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(m => m.PODetail.ColorName, new { htmlAttributes = new { @class = "input-sm form-control input-sm" } })
                                    @Html.HiddenFor(m => m.PODetail.ColorId)
                                    @Html.ValidationMessageFor(m => m.PODetail.ColorId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1" style="padding-left:10px !important">
                                    <button id="btnAddColor" type="button" class="btn btn-xs btn-info">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.Quantity, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.Quantity, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.PODetail.Quantity, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.PODetail.PPOffer, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 5 } })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.PPDisPercentage, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.PPDisPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 3 } })
                                    @Html.ValidationMessageFor(m => m.PODetail.PPDisPercentage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.PPDiscountAmount, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.PPDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = -4 } })
                                    @Html.ValidationMessageFor(m => m.PODetail.PPDiscountAmount, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.PODetail.ExtraPPDISAmt, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = -6 } })
                                    @Html.HiddenFor(m => m.PODetail.CRSalesRate3Month, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 7 } })
                                    @Html.HiddenFor(m => m.PODetail.CRSalesRate12Month, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 9 } })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PODetail.TAmount, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.PODetail.TAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.PODetail.TAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="productTable"
                                   data-toggle="table"
                                   data-height="226"
                                   class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Sl
                                        </th>
                                        <th data-field="name"
                                            data-sortable="true">
                                            @Html.DisplayNameFor(model => model.PODetail.ProductName)
                                        </th>
                                        @*<th data-field="color"
                                                data-sortable="true">
                                                @Html.DisplayNameFor(model => model.PODetail.ColorName)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.PODetail.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PODetail.MRPRate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PODetail.PPDisPercentage)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PODetail.PPDiscountAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PODetail.UnitPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PODetail.TAmount)
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int c = 1;
                                        foreach (var item in Model.PODetails)
                                        {
                                            if (item.Status == EnumStatus.Updated || item.Status == EnumStatus.Deleted) { continue; }
                                            <tr>
                                                <td>
                                                    @c
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.ColorName)
                                                    </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MRPRate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PPDisPercentage)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PPDiscountAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TAmount)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "EditFromView", new { id = item.ProductId, cid = item.ColorId, previousAction = actionName.ToLower(), IsDO = false }, new { @class = "btn btn-xs btn-info" })
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Delete", "DeleteFromView", new { id = item.ProductId, cid = item.ColorId, previousAction = actionName.ToLower(), IsDO = false }, new { onclick = "if(!confirm('Do you want to delete this item?')) return false;" })
                                                </td>
                                            </tr>
                                            c++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="productIdentifierTable"
                                   data-toggle="table"
                                   data-height="255"
                                   class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Sl
                                        </th>
                                        <th data-field="code">
                                            <div class="th-inner ">
                                                Name
                                            </div>
                                        </th>
                                        <th data-field="iemi">
                                            <div class="th-inner ">
                                                IMEI
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        if (TempData["POProductDetails"] != null)
                                        {
                                            foreach (var item in (List<POProductDetail>)TempData["POProductDetails"])
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@Model.PODetail.ProductName</td>
                                                    <td width="50%">
                                                        <input type="text" class="form-control input-sm input-sm" value="@item.IMENO" name="@("IMEINo" +  i.ToString())" />
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-right btn-group">
                        <button type="submit" class="btn btn-sm btn-primary mr-1" id="addButton" name="addButton">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add to order
                        </button>
                        <button type="reset" class="btn btn-sm btn-danger">
                            Clear &nbsp;<i class="fa fa-eraser" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.TotalDiscountPercentage, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.TotalDiscountPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.TotalDiscountPercentage, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.PurchaseOrder.PPDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                </div>
                            </div>
                            @*<div class="form-group">
                                    @Html.LabelFor(m => m.PurchaseOrder.PPDiscountAmount, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.PurchaseOrder.PPDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.PurchaseOrder.PPDiscountAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.NetDiscount, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.HiddenFor(m => m.PurchaseOrder.tempNetDiscount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.EditorFor(m => m.PurchaseOrder.NetDiscount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.NetDiscount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.GrandTotal, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.GrandTotal, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.TotalAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.TotalAmount, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.TotalAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.TotalAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.VATPercentage, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.VATPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.VATPercentage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.Remarks, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.Remarks, new { htmlAttributes = new { @class = "input-sm form-control input-smt", type = "text", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.TotalDiscountAmount, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.HiddenFor(m => m.PurchaseOrder.LabourCost, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.HiddenFor(m => m.PurchaseOrder.tempFlatDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.EditorFor(m => m.PurchaseOrder.TotalDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.TotalDiscountAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                    @Html.LabelFor(m => m.PurchaseOrder.LabourCost, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.PurchaseOrder.LabourCost, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                        @Html.ValidationMessageFor(m => m.PurchaseOrder.LabourCost, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.RecieveAmount, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.RecieveAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.RecieveAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.AdjAmount, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.AdjAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.AdjAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.PaymentDue, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.PaymentDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.PaymentDue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.PurchaseOrder.VATAmount, new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.PurchaseOrder.VATAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.PurchaseOrder.VATAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="btn-group  pull-right">
                                <button type="button" class="btn btn-sm btn-info mr-1">
                                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Preview
                                </button>
                                <button type="submit" class="btn btn-sm btn-primary" id="PoSubmit" name="submitButton">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Save order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}


<div class="modal fade bs-example-modal-lg" id="DamageProductDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Damage Return ProductDetails</h5>
            </div>
            <div class="modal-body">
                <div id="ProductDetailstoolbar">
                    @*@Html.ActionLink("Create new", "Create", "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm", target = "_blank" })*@
                    <span class="text-warning">&nbsp;(Requires reload current page to get new item)</span>
                </div>
                <div class="table-responsive" style="max-height:200px">
                    <table id="DamageProductDetailsTable"
                           data-toggle="table"
                           data-search="true"
                           data-click-to-select="true"
                           data-single-select="true"
                           data-detail-view="true"
                           data-pagination="true"
                           data-id-field="name"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-page-size="6"
                           class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                @*<th data-field="id" class="hidden">
                                    </th>*@

                                <th>
                                    Sl
                                </th>
                                <th data-field="code"
                                    data-sortable="true">
                                    Code
                                </th>
                                <th data-field="name"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Name
                                </th>
                                <th data-field="category"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Category
                                </th>
                                @*<th data-field="detailId" class="hidden">
                                    </th>
                                    <th data-field="colorId" class="hidden">
                                    </th>*@
                                <th data-field="imeNo"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Company
                                </th>
                                <th data-field="colorname"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Color
                                </th>
                                <th data-field="mrpRate"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    IMEI
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="newProductAddModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="addNewHeader">Add New Product</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Product Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.Editor("ProductName", new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Company", new { @class = "control-label col-md-3" })
                                <div class="col-md-8" style="padding-right:0px !important">
                                    @Html.Hidden("CompanyId")
                                    @Html.Editor("CompanyName", new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                                </div>
                                <div class="col-md-1" style="padding-left:10px !important">
                                    <button id="btnAddCompany" type="button" class="btn btn-xs btn-info">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Category", new { @class = "control-label col-md-3" })
                                <div class="col-md-8" style="padding-right:0px !important">
                                    @Html.Hidden("CategoryId")
                                    @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                                </div>
                                <div class="col-md-1" style="padding-left:10px !important">
                                    <button id="btnAddCategory" type="button" class="btn btn-xs btn-info">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("RP", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.Editor("RP", new { htmlAttributes = new { @class = "form-control input-sm text-right", @type = "number" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("MRP", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.Editor("MRP", new { htmlAttributes = new { @class = "form-control input-sm text-right", @type = "number" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Product Type", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("ProductType", new SelectList(Enum.GetValues(typeof(EnumProductType)).Cast<EnumProductType>().Select(x => new { ID = (int)x, Name = x.ToString() }).ToList(), "ID", "Name", (int)EnumProductType.ExistingBC),
                                 "Select Product Type",
                                 new { @class = "form-control input-sm" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Unit Type", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("UnitType", new SelectList(Enum.GetValues(typeof(EnumUnitType)).Cast<EnumUnitType>().Select(x => new { ID = (int)x, Name = x.ToString() }).ToList(), "ID", "Name", (int)EnumUnitType.Piece),
                                 "Select Unit Type",
                                 new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-xs mr-1" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info btn-xs" id="btnSaveProduct" data-id="btnPOSaveProduct">Add</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="newEntryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="addEntryNewHeader">Add New</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label id="lblEntryName" class="control-label col-md-3">Name:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" autofocus id="newName" />
                                <input type="hidden" id="entryType" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div style="display:none" id="divPCategory" class="form-group">
                            @Html.Label("PCategoryID", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.Hidden("PCategoryID", new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                                @Html.Editor("PCategoryName", new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-xs mr-1" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info btn-xs" id="btnAddCompanyCategory">Add</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 10 || event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });


        @if(Model.PurchaseOrder!=null)
        {
            if(!string.IsNullOrEmpty(Model.PurchaseOrder.TotalDiscountPercentage))
            {
                @:$("#PurchaseOrder_TotalDiscountPercentage").trigger('input');
            }
        }

          @*@if(Model.PurchaseOrder!=null)
        {
            if(!string.IsNullOrEmpty(Model.PurchaseOrder.TotalDiscountAmount))
            {
                @:$("#PurchaseOrder_TotalDiscountAmount").trigger('input');
            }
        }*@
    });

    $('#OrderDate').datetimepicker({
        @{
                                                if (Model == null || Model.PurchaseOrder.OrderDate == null) {
                    @:defaultDate: moment(),
                                                                                    }
                else
                {
            @:defaultDate: '@(Convert.ToDateTime(Model.PurchaseOrder.OrderDate).ToString("dd-MMM-yyyy"))',
                                                                            }
            @:format: 'DD-MMM-YYYY'
                                                                                    }
    });


    //************************************************************
    //Get Damage return products for picker
    //************************************************************

    $('#ProductsModal').on('hidden.bs.modal', function () {
        $("#PODetail_Quantity").trigger("input");
    });

    //$('#ColorsModal').on('hidden.bs.modal', function () {
    //    GetDamageReturnIMEI();
    //});

    var _DIMEINo = "";
    $(document).on("click", ".btnGetDamageProduct", function () {

        //alert(this.id)
        _DIMEINo = "#DIMEINo" + this.id;
        GetDamageReturnIMEI();
        $('#DamageProductDetailsModal').modal('toggle');

    });

    function GetDamageReturnIMEI() {
        var ProducctID = $("#ProductsId").val();
        if (ProducctID == "" || ProducctID == NaN) {
            toastr.info("Please Select Product.")
            return;
        }
        var ColorID = $("#ColorsId").val();
        if (ColorID == "" || ColorID == NaN) {
            toastr.info("Please Select Color.")
            return;
        }
        $.ajax({
            url: "/PurchaseOrder/GetDamageReturnIMEI",
            type: "GET",
            data: { "ProductID": ProducctID, "ColorID": ColorID },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.Status == true) {
                    PopulateDamageProductDetailsTable(data);
                }

            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    //Generate damage product picker
    function PopulateDamageProductDetailsTable(data) {

        var $table = $("#DamageProductDetailsTable >tbody");
        $table.empty();
        var counter = 1;
        data.Data.forEach(function (item) {
            var $row = $('<tr/>');
            $row.append('<td><input type="checkbox" class="chkbxProduct" name="chkbxProduct" id="chkbxProduct" value="' + item.IMENO + '"/></td><td>' + counter + '</td><td>' + item.ProductCode + '</td><td>' + item.ProductName + '</td><td>' + item.CategoryName + '</td><td>' + item.CompanyName + '</td><td>' + item.ColorName + '</td><td>' + item.IMENO + '</td>');
            $table.append($row);
            counter++;
        });
    }


    //damage picker product select event
    $(document).on('change', 'input.chkbxProduct', function () {
        $('input.chkbxProduct').not(this).prop('checked', false);
        SelectProductDetails(this.value);
        checkDuplicateDIMEINo();
        $('#DamageProductDetailsModal').modal('toggle');
    });


    //for damage Product
    function SelectProductDetails(IMENo) {
        //alert(ProductId);
        if (IMENo == "") {
            ClearDamageProductDetails();
            return;
        }
        $(_DIMEINo).val(IMENo);


    }

    function ClearDamageProductDetails() {
        $(DIMEINo).val("");
    }


    //************************************************************
    //End generate Damage Picker
    //************************************************************


    $("#PurchaseOrder_IsDamagePO").on("change", function () {
        if (this.checked) {
            $(".btnGetDamageProduct").prop("disabled", false);
        }
        else {
            $(".btnGetDamageProduct").prop("disabled", true);
        }
    });

    $("#PODetail_Quantity").on("input", function () {
        var purchaseRate = $("#PODetail_UnitPrice").val();
        $("#PODetail_TAmount").val(parseInt($(this).val()) * parseFloat(purchaseRate));

        var productName = $('#ProductsName').val();
        if (productName == '') {
            toastr['error']('Please pick a product first.');
            return;
        }

        var ProductType = $('#ProductsType').val();
        var Quantity = $("#PODetail_Quantity").val();
        $("#productIdentifierTable > tbody > tr.no-records-found").html('');
        if (ProductType == "1" || ProductType == "3")//barcode=1, Autobarcode=3
            createProductIdentifierTableRows(Quantity);
        else if (ProductType == "2") //NoBarcode
        {
            createProductIdentifierTableRows(1);
            $("#IMEINo1").val("No Barcode");
            //$("#IMEINo1").attr("disabled",true);
        }

        //var newRow = $("<tr>");
        //var cols = "";

        //for (var counter = 1; counter <= $(this).val(); counter++) {
        //    newRow = $("<tr>");
        //    cols = "";
        //    cols += '<td width="9.97%">' + counter + '</td>';
        //    cols += '<td width="26.84%">' + productName + '</td>';
        //    cols += '<td width="63.18%"><input type="text" class="form-control input-sm input-sm" name="IMEINo' + counter + '"/></td>';
        //    newRow.append(cols);
        //    $("#productIdentifierTable").append(newRow);
        //}
    });

    function createProductIdentifierTableRows(quantity) {

        var counterLimit = parseInt(quantity);
        var preCount = 0;
        var productName = $('#ProductsName').val();
        var newRow = '';
        var cols = '';
        var ProductType = parseInt($('#ProductsType').val());

        $("#productIdentifierTable tr").each(function (count, row) {
            var $row = $(row);
            if (!$row) return;
            var $inputs = $row.find('input[name^="IMEINo"]');
            if (!$inputs) return;
            //For Nobarcode and Existing barcode don't remove imei
            var actionname = "@actionName"
            if (actionname === "Create") {
                if (ProductType == 1 || ProductType == 2) {

                    $inputs.each(function (count, input) {
                        var val = $(input).val();
                        if (val == '') {
                            $(this).parents('tr').remove();
                        }
                        else if (val == "No Barcode") {
                            $(this).parents('tr').remove();
                        }
                        else {
                            preCount = parseInt($(this).parent().siblings(":first").text());
                        }

                        //$(this).parents('tr').remove();
                    });
                }
                else {
                    $inputs.each(function (count, input) {
                        var val = $(input).val();
                        $(this).parents('tr').remove();
                    });
                }
            }
            else {
                $inputs.each(function (count, input) {
                    var val = $(input).val();
                    if (val == '') {
                        $(this).parents('tr').remove();
                    }
                    else if (val == "No Barcode") {
                        $(this).parents('tr').remove();
                    }
                    else {
                        preCount = parseInt($(this).parent().siblings(":first").text());
                    }
                });
            }

        });

        var IsDamage = $("#PurchaseOrder_IsDamagePO").prop("checked") == true ? true : false;

        if (ProductType == 1 || ProductType == 2) //barcode=1,Nobarcode=2
        {
            for (var counter = (preCount + 1) ; counter <= counterLimit; counter++) {
                newRow = $("<tr>");
                cols = "";
                cols += '<td width="5%">' + counter + '</td>';
                cols += '<td width="26.84%">' + productName + '</td>';
                cols += '<td width="30%"><input type="text" class="form-control input-sm input-sm" onblur="checkDuplicateIMEINo()" oninput="moveCursorToNextInput(this)" name="IMEINo' + counter + '" id="IMEINo' + counter + '"/></td>';
                //if (IsDamage == true) {
                //    cols += '<td width="50%"><input type="text" readonly class="form-control input-sm input-sm" onblur="checkDuplicateDIMEINo()" oninput="moveCursorToNextInputForDamage(this)" name="DIMEINo' + counter + '" id="DIMEINo' + counter + '"/></td>';
                //    cols += '<td width="20%"><button type="button" id=' + counter + ' class="btn btn-xs btn-info btnGetDamageProduct" title="Get Damage Product"><i class="fa fa-info-circle"></i></button></td>';
                //}
                //else {
                //    cols += '<td width="50%"><input type="text" readonly class="form-control input-sm input-sm" onblur="checkDuplicateDIMEINo()" oninput="moveCursorToNextInputForDamage(this)" name="DIMEINo' + counter + '" id="DIMEINo' + counter + '"/></td>';
                //    cols += '<td width="20%"><button type="button" id=' + counter + ' class="btn btn-xs btn-info btnGetDamageProduct" title="Get Damage Product" disabled><i class="fa fa-info-circle"></i></button></td>';
                //}
                newRow.append(cols);
                $("#productIdentifierTable").append(newRow);
            }
        }
        else if (ProductType == 3)//auto barcode =3
        {

            $.ajax({
                url: "/PurchaseOrder/GetUniqueBarCode",
                type: "GET",
                data: { 'MaxSize': 12, 'Quantity': quantity },
                dataType: "json",
                success: function (data) {
                    for (var counter = (preCount + 1) ; counter <= counterLimit; counter++) {
                        newRow = $("<tr>");
                        cols = "";
                        cols += '<td width="9.97%">' + counter + '</td>';
                        cols += '<td width="26.84%">' + productName + '</td>';
                        cols += '<td width="30%"><input type="text" class="form-control input-sm input-sm" name="IMEINo' + counter + '" id="IMEINo' + counter + '" value="' + data[counter - 1] + '" /></td>';
                        //if (IsDamage == true) {
                        //    cols += '<td width="50%"><input type="text" class="form-control input-sm input-sm" onblur="checkDuplicateDIMEINo()" oninput="moveCursorToNextInputForDamage(this)" name="DIMEINo' + counter + '" id="DIMEINo' + counter + '"/></td>';
                        //}
                        //else {
                        //    cols += '<td width="50%"><input type="text" readonly class="form-control input-sm input-sm"  oninput="moveCursorToNextInputForDamage(this)" name="DIMEINo' + counter + '" id="DIMEINo' + counter + '"/></td>';
                        //}
                        newRow.append(cols);
                        $("#productIdentifierTable").append(newRow);
                    }
                },
                error: function (err) {

                }
            });
        }


    }


    function moveCursorToNextInput(x) {
        if (x.value == "" || x.value == NaN) {
            return;
        }
        var IsScanner = $("#IsScanner").is(':checked');
        if (IsScanner==false)
        {
           return;
        }
        setTimeout(function () {
            $inputs = $(x).parents('tr').next('tr').find('input[name^="IMEINo"]');
            $inputs.each(function (count, input) {
                $(input).focus();
            });
        }, 500);
    }

    function moveCursorToNextInputForDamage(x) {
        if (x.value == "" || x.value == NaN) {
            return;
        }
        @if(User.Identity.GetConcernId() == 1 || User.Identity.GetConcernId() == 2 || User.Identity.GetConcernId() == 3)
        {
          @:return;
        }
        setTimeout(function () {
            $inputs = $(x).parents('tr').next('tr').find('input[name^="DIMEINo"]');
            $inputs.each(function (count, input) {
                $(input).focus();
            });
        }, 500);
    }

    function checkDuplicateIMEINo() {
        var previousVal = '';
        $inputs = $('#productIdentifierTable').find('input[name^="IMEINo"]');
        $inputs.each(function (count, input) {
            if ($(input).val() != '' && $(input).val().toLowerCase() == previousVal.toLowerCase()) {
                toastr['error']('Duplicate IMEI/Barcode found');
                $(input).val('');
                $(input).focus();
                return;
            }
            previousVal = $(input).val();
        });
    }

    function checkDuplicateDIMEINo() {
        var previousVal = '';
        $inputs = $('#productIdentifierTable').find('input[name^="DIMEINo"]');
        $inputs.each(function (count, input) {
            if ($(input).val() != '' && $(input).val().toLowerCase() == previousVal.toLowerCase()) {
                toastr['error']('Duplicate IMEI/Barcode found');
                $(input).val('');
                $(input).focus();
                return;
            }
            previousVal = $(input).val();
        });
    }
    //**************************
    //Per Product Event start
    //**************************

    $("#PODetail_EMOBRPRate").on("input", function () {
        var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
        var mrpRate = getDefaultFloatIfEmpty($(this).val());
        var total = (quantity * mrpRate).toFixed(2);

        var percentage = getDefaultFloatIfEmpty($("#PODetail_PPDisPercentage").val());
        var PPDamount = (((mrpRate) * percentage) / 100).toFixed(2);
        total = total - (PPDamount * quantity);
        var UnitPrice = mrpRate - PPDamount;

        var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
        var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
        total = total - (ExPPDamount * quantity);
        UnitPrice = UnitPrice - ExPPDamount;

        var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
        UnitPrice = UnitPrice - PPOffer;
        total = total - (PPOffer * quantity);
        total = total.toFixed(2);
        $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
        $("#PODetail_PPDiscountAmount").val(PPDamount);
        $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);
        $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));
        //$("#PODetail_CRSalesRate3Month").val((mrpRate).toFixed(2));
        //$("#PODetail_SalesRate").val((mrpRate).toFixed(2));
        //$("#PODetail_EMOBMRPRate").val((mrpRate).toFixed(2));
        //$("#PODetail_MRPRate").val((mrpRate).toFixed(2));

        //var sRate = getDefaultFloatIfEmpty($("#PODetail_EMOBRPRate").toFixed(2));
        //alert(sRate);
        //$("#PODetail_SalesRate").val((sRate).toFixed(2));

    });

    $("#PODetail_PPDisPercentage").on("input", function () {
        var percentage = getDefaultFloatIfEmpty($(this).val());
        var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
        //var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());
        var mrpRate = getDefaultFloatIfEmpty($("#PODetail_EMOBRPRate").val());
        $("#PODetail_MRPRate").val(mrpRate);

        var PPDamount = (((mrpRate * percentage) / 100)).toFixed(2);
        $("#PODetail_PPDiscountAmount").val(PPDamount);
        var UnitPrice = mrpRate - PPDamount;
        var total = (quantity * mrpRate).toFixed(2);
        total = total - (PPDamount * quantity);

        var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
        var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
        total = total - (ExPPDamount * quantity);
        UnitPrice = UnitPrice - ExPPDamount;

        var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
        UnitPrice = UnitPrice - PPOffer;
        total = total - (PPOffer * quantity);

        $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);

        $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));
        total = total.toFixed(2);
        $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
    });

    $("#PODetail_PPDiscountAmount").on("input", function () {
        var PPDamount = getDefaultFloatIfEmpty($(this).val());
        var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
        //var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());
        var mrpRate = getDefaultFloatIfEmpty($("#PODetail_EMOBRPRate").val());
        $("#PODetail_MRPRate").val(mrpRate);

        var percentage = getDefaultFloatIfEmpty(((100 * PPDamount) / (quantity * mrpRate)) * quantity).toFixed(2);
        $("#PODetail_PPDisPercentage").val(percentage);
        var UnitPrice = mrpRate - PPDamount;
        var total = (quantity * mrpRate).toFixed(2);
        total = total - (PPDamount * quantity);

        var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
        UnitPrice = UnitPrice - PPOffer;
        total = total - (PPOffer * quantity);

        var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
        var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
        total = total - (ExPPDamount * quantity);
        UnitPrice = UnitPrice - ExPPDamount;
        $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);

        $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));

        total = total.toFixed(2);
        $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));

    });

    $("#PODetail_ExtraPPDISPer").on("input", function () {
        var percentage = getDefaultFloatIfEmpty($("#PODetail_PPDisPercentage").val());
        var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
        //var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());
        var mrpRate = getDefaultFloatIfEmpty($("#PODetail_EMOBRPRate").val());
        $("#PODetail_MRPRate").val(mrpRate);

        var PPDamount = getDefaultFloatIfEmpty($("#PODetail_PPDiscountAmount").val()); //((((quantity * mrpRate) * percentage) / 100) / quantity).toFixed(2);
        // $("#PODetail_PPDiscountAmount").val(PPDamount);
        var UnitPrice = mrpRate - PPDamount;
        var total = (quantity * mrpRate).toFixed(2);
        total = total - (PPDamount * quantity);

        var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
        var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
        total = total - (ExPPDamount * quantity);
        UnitPrice = UnitPrice - ExPPDamount;

        var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
        UnitPrice = UnitPrice - PPOffer;
        total = total - (PPOffer * quantity);


        $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);
        $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));
        total = total.toFixed(2);
        $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
    });

    $("#PODetail_ExtraPPDISAmt").on("input", function () {
        var PPDamount = getDefaultFloatIfEmpty($("#PODetail_PPDiscountAmount").val());
        var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
        //var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());
        var mrpRate = getDefaultFloatIfEmpty($("#PODetail_EMOBRPRate").val());
        $("#PODetail_MRPRate").val(mrpRate);

        //var percentage =getDefaultFloatIfEmpty( $("#PODetail_PPDisPercentage").val(percentage)); //getDefaultFloatIfEmpty(((100 * PPDamount) / (quantity * mrpRate)) * quantity).toFixed(2);
        //$("#PODetail_PPDisPercentage").val(percentage);
        var UnitPrice = mrpRate - PPDamount;
        var total = (quantity * mrpRate).toFixed(2);
        total = total - (PPDamount * quantity);

        var ExPPDamount = getDefaultFloatIfEmpty($(this).val());
        var ExPercentage = getDefaultFloatIfEmpty(((100 * ExPPDamount) / (quantity * UnitPrice)) * quantity).toFixed(2);
        total = total - (ExPPDamount * quantity);
        UnitPrice = UnitPrice - ExPPDamount;

        $("#PODetail_ExtraPPDISPer").val(ExPercentage);

        var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
        UnitPrice = UnitPrice - PPOffer;
        total = total - (PPOffer * quantity);
        total = total.toFixed(2);
        $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));


        $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));

    });

    $("#PODetail_PPOffer").on("input", function () {
        var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
        //var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());
        var mrpRate = getDefaultFloatIfEmpty($("#PODetail_EMOBRPRate").val());
        $("#PODetail_MRPRate").val(mrpRate);
        var total = (quantity * mrpRate).toFixed(2);

        var percentage = getDefaultFloatIfEmpty($("#PODetail_PPDisPercentage").val());
        var PPDamount = (((mrpRate) * percentage) / 100).toFixed(2);
        total = total - (PPDamount * quantity);
        var UnitPrice = mrpRate - PPDamount;

        var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
        var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
        total = total - (ExPPDamount * quantity);
        UnitPrice = UnitPrice - ExPPDamount;

        var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
        UnitPrice = UnitPrice - PPOffer;
        total = total - (PPOffer * quantity);


        total = total.toFixed(2);
        $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
        $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));

    });

    //**************************
    //Per Product Event start
    //**************************

    //$("#PODetail_MRPRate").on("input", function () {
    //    var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
    //    var mrpRate = getDefaultFloatIfEmpty($(this).val());
    //    var total = (quantity * mrpRate).toFixed(2);

    //    var percentage = getDefaultFloatIfEmpty($("#PODetail_PPDisPercentage").val());
    //    var PPDamount = (((mrpRate) * percentage) / 100).toFixed(2);
    //    total = total - (PPDamount * quantity);
    //    var UnitPrice = mrpRate - PPDamount;

    //    var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
    //    var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
    //    total = total - (ExPPDamount * quantity);
    //    UnitPrice = UnitPrice - ExPPDamount;

    //    var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
    //    UnitPrice = UnitPrice - PPOffer;
    //    total = total - (PPOffer * quantity);
    //    total = total.toFixed(2);
    //    $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
    //    $("#PODetail_PPDiscountAmount").val(PPDamount);
    //    $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);
    //    $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));
    //    $("#PODetail_CRSalesRate3Month").val((mrpRate).toFixed(2));
    //    //$("#PODetail_SalesRate").val((mrpRate).toFixed(2));

    //});

    //$("#PODetail_PPDisPercentage").on("input", function () {
    //    var percentage = getDefaultFloatIfEmpty($(this).val());
    //    var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
    //    var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());

    //    var PPDamount = (((mrpRate * percentage) / 100)).toFixed(2);
    //    $("#PODetail_PPDiscountAmount").val(PPDamount);
    //    var UnitPrice = mrpRate - PPDamount;
    //    var total = (quantity * mrpRate).toFixed(2);
    //    total = total - (PPDamount * quantity);

    //    var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
    //    var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
    //    total = total - (ExPPDamount * quantity);
    //    UnitPrice = UnitPrice - ExPPDamount;

    //    var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
    //    UnitPrice = UnitPrice - PPOffer;
    //    total = total - (PPOffer * quantity);

    //    $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);

    //    $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));
    //    total = total.toFixed(2);
    //    $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
    //});

    //$("#PODetail_PPDiscountAmount").on("input", function () {
    //    var PPDamount = getDefaultFloatIfEmpty($(this).val());
    //    var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
    //    var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());

    //    var percentage = getDefaultFloatIfEmpty(((100 * PPDamount) / (quantity * mrpRate)) * quantity).toFixed(2);
    //    $("#PODetail_PPDisPercentage").val(percentage);
    //    var UnitPrice = mrpRate - PPDamount;
    //    var total = (quantity * mrpRate).toFixed(2);
    //    total = total - (PPDamount * quantity);

    //    var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
    //    UnitPrice = UnitPrice - PPOffer;
    //    total = total - (PPOffer * quantity);

    //    var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
    //    var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
    //    total = total - (ExPPDamount * quantity);
    //    UnitPrice = UnitPrice - ExPPDamount;
    //    $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);

    //    $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));

    //    total = total.toFixed(2);
    //    $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));

    //});

    //$("#PODetail_ExtraPPDISPer").on("input", function () {
    //    var percentage = getDefaultFloatIfEmpty($("#PODetail_PPDisPercentage").val());
    //    var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
    //    var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());

    //    var PPDamount = getDefaultFloatIfEmpty($("#PODetail_PPDiscountAmount").val()); //((((quantity * mrpRate) * percentage) / 100) / quantity).toFixed(2);
    //    // $("#PODetail_PPDiscountAmount").val(PPDamount);
    //    var UnitPrice = mrpRate - PPDamount;
    //    var total = (quantity * mrpRate).toFixed(2);
    //    total = total - (PPDamount * quantity);

    //    var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
    //    var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
    //    total = total - (ExPPDamount * quantity);
    //    UnitPrice = UnitPrice - ExPPDamount;

    //    var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
    //    UnitPrice = UnitPrice - PPOffer;
    //    total = total - (PPOffer * quantity);


    //    $("#PODetail_ExtraPPDISAmt").val(ExPPDamount);
    //    $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));
    //    total = total.toFixed(2);
    //    $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
    //});

    //$("#PODetail_ExtraPPDISAmt").on("input", function () {
    //    var PPDamount = getDefaultFloatIfEmpty($("#PODetail_PPDiscountAmount").val());
    //    var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
    //    var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());

    //    //var percentage =getDefaultFloatIfEmpty( $("#PODetail_PPDisPercentage").val(percentage)); //getDefaultFloatIfEmpty(((100 * PPDamount) / (quantity * mrpRate)) * quantity).toFixed(2);
    //    //$("#PODetail_PPDisPercentage").val(percentage);
    //    var UnitPrice = mrpRate - PPDamount;
    //    var total = (quantity * mrpRate).toFixed(2);
    //    total = total - (PPDamount * quantity);

    //    var ExPPDamount = getDefaultFloatIfEmpty($(this).val());
    //    var ExPercentage = getDefaultFloatIfEmpty(((100 * ExPPDamount) / (quantity * UnitPrice)) * quantity).toFixed(2);
    //    total = total - (ExPPDamount * quantity);
    //    UnitPrice = UnitPrice - ExPPDamount;

    //    $("#PODetail_ExtraPPDISPer").val(ExPercentage);

    //    var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
    //    UnitPrice = UnitPrice - PPOffer;
    //    total = total - (PPOffer * quantity);
    //    total = total.toFixed(2);
    //    $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));


    //    $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));

    //});

    //$("#PODetail_PPOffer").on("input", function () {
    //    var quantity = getDefaultIntIfEmpty($("#PODetail_Quantity").val());
    //    var mrpRate = getDefaultFloatIfEmpty($("#PODetail_MRPRate").val());
    //    var total = (quantity * mrpRate).toFixed(2);

    //    var percentage = getDefaultFloatIfEmpty($("#PODetail_PPDisPercentage").val());
    //    var PPDamount = (((mrpRate) * percentage) / 100).toFixed(2);
    //    total = total - (PPDamount * quantity);
    //    var UnitPrice = mrpRate - PPDamount;

    //    var ExPercentage = getDefaultFloatIfEmpty($("#PODetail_ExtraPPDISPer").val());
    //    var ExPPDamount = (((UnitPrice) * ExPercentage) / 100).toFixed(2);
    //    total = total - (ExPPDamount * quantity);
    //    UnitPrice = UnitPrice - ExPPDamount;

    //    var PPOffer = getDefaultFloatIfEmpty($("#PODetail_PPOffer").val());
    //    UnitPrice = UnitPrice - PPOffer;
    //    total = total - (PPOffer * quantity);


    //    total = total.toFixed(2);
    //    $("#PODetail_TAmount").val(getDefaultFloatIfEmpty(total));
    //    $("#PODetail_UnitPrice").val((UnitPrice).toFixed(2));

    //});


    //**************************
    //Per Product Event end
    //**************************

    // Vat Amount Percentage
    $("#PurchaseOrder_VATPercentage").on("input", function () {
        var vatPercentage = getDefaultFloatIfEmpty($(this).val());
        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
        var vatAmount = getDefaultFloatIfEmpty(((totalAmount * vatPercentage) / 100).toFixed(2));
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
        $("#PurchaseOrder_VATAmount").val(vatAmount);
        calculateVariousValue(totalDiscountAmount, totalAmount, vatAmount);
    });

    // Vat Amount Total

    $("#PurchaseOrder_VATAmount").on("input", function () {
        var vatAmount = getDefaultFloatIfEmpty($(this).val());
        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
        var vatPercentage = getDefaultFloatIfEmpty((100 * vatAmount) / totalAmount).toFixed(2);
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
        $("#PurchaseOrder_VATPercentage").val(vatPercentage);
        calculateVariousValue(totalDiscountAmount, totalAmount, vatAmount);
    });


    //Flat discount Percentage
    $("#PurchaseOrder_TotalDiscountPercentage").on("input", function () {
        var totalPercentage = getDefaultFloatIfEmpty($(this).val());
        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty((totalAmount * totalPercentage) / 100).toFixed(2);
        var vatAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_VATAmount").val());
        $("#PurchaseOrder_TotalDiscountAmount").val(totalDiscountAmount);
        calculateVariousValue(totalDiscountAmount, totalAmount, vatAmount);
    });

    //Flat discount Amount
    $("#PurchaseOrder_TotalDiscountAmount").on("input", function () {
        var totalDiscountAmount = getDefaultFloatIfEmpty($(this).val());
        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
        var totalPercentage = getDefaultFloatIfEmpty((100 * totalDiscountAmount) / totalAmount).toFixed(2);
        var vatAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_VATAmount").val());
        $("#PurchaseOrder_TotalDiscountPercentage").val(totalPercentage);
        calculateVariousValue(totalDiscountAmount, totalAmount, vatAmount);
    });

    $("#PurchaseOrder_LabourCost").on("input", function () {
        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, totalAmount, vatAmount);
    });

    function calculateVariousValue(flatDiscountAmt, grandtotalAmount, vatAmount) {
        //var discountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_PPDiscountAmount").val());

        var tempFlatDisAmt = getDefaultFloatIfEmpty($("#PurchaseOrder_tempFlatDiscountAmount").val());
        var tempNetDisAmt = getDefaultFloatIfEmpty($("#PurchaseOrder_tempNetDiscount").val());

        var updatedflatDiscountAmount = parseFloat(flatDiscountAmt) - parseFloat(tempFlatDisAmt);

        var labourCost = getDefaultFloatIfEmpty($("#PurchaseOrder_LabourCost").val());
        var recieveAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_RecieveAmount").val());
        var adjAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_AdjAmount").val());
        //var dueAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_CurrentDue").val());
        var vatAmt = getDefaultFloatIfEmpty($("#PurchaseOrder_VATAmount").val());
        //alert(vatAmt);
        //alert(grandtotalAmount);
        var updateNetDisAmt = tempNetDisAmt + updatedflatDiscountAmount;
        //var updateNetDisAmt = updatedflatDiscountAmount;
        $("#PurchaseOrder_NetDiscount").val(getDefaultFloatIfEmpty(updateNetDisAmt).toFixed(2));
        $("#PurchaseOrder_TotalAmount").val((getDefaultFloatIfEmpty(grandtotalAmount - (updateNetDisAmt + adjAmount)) + labourCost + vatAmt).toFixed(2));
        $("#PurchaseOrder_PaymentDue").val(getDefaultFloatIfEmpty((getDefaultFloatIfEmpty(grandtotalAmount - (updateNetDisAmt + adjAmount)) + labourCost + vatAmt) - recieveAmount).toFixed(2));
    }

    $("#PurchaseOrder_RecieveAmount").on("input", function () {
        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, totalAmount, vatAmount);
    });

    $("#PurchaseOrder_AdjAmount").on("input", function () {
        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, totalAmount, vatAmount);
    });

    //$("#PurchaseOrder_CurrentDue").on("input", function () {
    //    if (window.location.pathname.toLowerCase() == "/purchaseorder/create") {
    //        var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
    //        var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
    //        calculateVariousValue(totalDiscountAmount, totalAmount);
    //    }
    //});











    //Biplob

    ////**************************
    ////Per Product Event end
    ////**************************

    ////Flat discount Percentage
    //$("#PurchaseOrder_TotalDiscountPercentage").on("input", function () {
    //    var totalPercentage = getDefaultFloatIfEmpty($(this).val());
    //    var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
    //    var totalDiscountAmount = getDefaultFloatIfEmpty((totalAmount * totalPercentage) / 100).toFixed(2);

    //    $("#PurchaseOrder_TotalDiscountAmount").val(totalDiscountAmount);
    //    calculateVariousValue(totalDiscountAmount, totalAmount);
    //});

    ////Flat discount Amount
    //$("#PurchaseOrder_TotalDiscountAmount").on("input", function () {
    //    var totalDiscountAmount = getDefaultFloatIfEmpty($(this).val());
    //    var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
    //    var totalPercentage = getDefaultFloatIfEmpty((100 * totalDiscountAmount) / totalAmount).toFixed(2);

    //    $("#PurchaseOrder_TotalDiscountPercentage").val(totalPercentage);
    //    calculateVariousValue(totalDiscountAmount, totalAmount);
    //});

    //$("#PurchaseOrder_LabourCost").on("input", function () {
    //    var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
    //    var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
    //    calculateVariousValue(totalDiscountAmount, totalAmount);
    //});

    //function calculateVariousValue(flatDiscountAmt, grandtotalAmount) {
    //    var totalPPDisAmt = getDefaultFloatIfEmpty($("#PurchaseOrder_PPDiscountAmount").val());
    //    var flatDisAmt = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
    //    //var tempFlatDisAmt = getDefaultFloatIfEmpty($("#PurchaseOrder_tempFlatDiscountAmount").val());
    //    //var tempNetDisAmt = getDefaultFloatIfEmpty($("#PurchaseOrder_tempNetDiscount").val());

    //    //var updatedflatDiscountAmount = parseFloat(flatDiscountAmt) - parseFloat(tempFlatDisAmt);

    //    var labourCost = getDefaultFloatIfEmpty($("#PurchaseOrder_LabourCost").val());
    //    var recieveAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_RecieveAmount").val());
    //    var adjAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_AdjAmount").val());
    //    //var dueAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_CurrentDue").val());
    //    var updateNetDisAmt = totalPPDisAmt + flatDisAmt ;//tempNetDisAmt + updatedflatDiscountAmount;
    //    $("#PurchaseOrder_NetDiscount").val(getDefaultFloatIfEmpty(updateNetDisAmt).toFixed(2));
    //    $("#PurchaseOrder_TotalAmount").val((getDefaultFloatIfEmpty(grandtotalAmount - (updateNetDisAmt + adjAmount)) + labourCost).toFixed(2));
    //    $("#PurchaseOrder_PaymentDue").val(getDefaultFloatIfEmpty((getDefaultFloatIfEmpty(grandtotalAmount - (updateNetDisAmt + adjAmount)) + labourCost) - recieveAmount).toFixed(2));
    //}

    //$("#PurchaseOrder_RecieveAmount").on("input", function () {
    //    var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
    //    var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
    //    calculateVariousValue(totalDiscountAmount, totalAmount);
    //});

    //$("#PurchaseOrder_AdjAmount").on("input", function () {
    //    var totalAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_GrandTotal").val());
    //    var totalDiscountAmount = getDefaultFloatIfEmpty($("#PurchaseOrder_TotalDiscountAmount").val());
    //    calculateVariousValue(totalDiscountAmount, totalAmount);
    //});

    //*************************************
    //Product Add Validation
    //*************************************
    $(document).on('click', '#addButton', function (e) {
        var IsValid = true;
        var SuppliersId = $("#SuppliersId").val();
        if (SuppliersId == "") {
            e.preventDefault();
            toastr.error("Please select supplier");
            IsValid = false;
            $("#SuppliersCode").focus()
            return false;
        }

        if (IsValid) {
            var ProductName = $("#ProductsId").val();
            if (ProductName == "") {
                e.preventDefault();
                toastr.error("Please enter product name");
                IsValid = false;
                $("#ProductsCode").focus()
                return false;
            }
        }

        if (IsValid) {
            var GodownID = $("#PODetail_GodownID").val();
            if (GodownID == "") {
                e.preventDefault();
                toastr.error("Please select godown");
                IsValid = false;
                $("#PODetail_GodownName").focus()
                return false;
            }
        }

        if (IsValid) {
            var ColorId = $("#PODetail_ColorId").val();
            if (ColorId == "") {
                e.preventDefault();
                toastr.error("Please select color");
                IsValid = false;
                $("#PODetail_ColorName").focus()
                return false;
            }
        }

        if (IsValid) {
            var MRPRate = $("#PODetail_MRPRate").val();
            if (MRPRate == "") {
                e.preventDefault();
                toastr.error("Please enter MRP");
                IsValid = false;
                $("#PODetail_MRPRate").focus()
                return false;
            }
        }

        if (IsValid) {
            var Quantity = $("#PODetail_Quantity").val();
            if (Quantity == "") {
                e.preventDefault();
                toastr.error("Please enter quantity");
                IsValid = false;
                $("#PODetail_Quantity").focus()
                return false;
            }
        }

        if (IsValid) {
            var Quantity = getDefaultIntIfEmpty( $("#PODetail_Quantity").val());
            var imeis = $('input[name*="IMEINo"]').length;
            if (Quantity == 0) {
                e.preventDefault();
                toastr.error("Please enter quantity");
                IsValid = false;
                $("#PODetail_Quantity").focus()
                return false;
            }
            var productType = getDefaultIntIfEmpty($('#ProductsType').val());
            //when product is not nobarcode
            if (productType != 2) {
                if (Quantity != imeis) {
                    e.preventDefault();
                    toastr.error("No. of IMEI and quantity is not same.");
                    IsValid = false;
                    $("#PODetail_Quantity").focus()
                    return false;
                }
            }
        }

    });


    $("#PoSubmit").click(function () {
        setTimeout(function () { disableButton(); }, 50);

    });

    function disableButton() {
        $("#PoSubmit").prop('disabled', true);
    }

</script>

<script src="~/Scripts/productConfig.js"></script>