@model CreateManualAttendenceVM
@{
    ViewBag.Title = "Manual Attendence";
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    int count = 1;
}

<h4 class="text-left inline-header">@ViewBag.Title.</h4>

@using (Html.BeginForm("Index", "ManualAttendence", new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Salary Date</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.NextPayProcessDate, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Employee</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.EmployeeID, Model.Employees as SelectList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn btn-group">
                                <input type="submit" value="Search" class="btn btn-info btn-sm" name="btnSearch" />
                                <input type="submit" value="Save" class="btn btn-primary btn-sm ml-1" name="btnSave" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="cashcollectionTable"
                           data-toggle="table"
                           data-search="false"
                           data-show-refresh="false"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-export="false"
                           data-detail-view="false"
                           data-pagination="false"
                           data-id-field="name"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-page-size="31"
                           class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Sl
                                </th>
                                <th data-field="select"
                                    data-sorter="sorter"
                                    data-sortable="false">
                                    <label>
                                        <input type="checkbox" id="AllSelect" />
                                        All Select
                                    </label>
                                </th>
                                <th data-field="Date"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Date
                                </th>
                                <th data-field="IsAssigned"
                                    data-sortable="true">
                                    Is Assigned
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Attendences.Count(); i++)
                            {

                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <label>
                                            @Html.EditorFor(item => item.Attendences[i].IsSelect)
                                            Select
                                        </label>
                                        @Html.HiddenFor(item => item.Attendences[i].ID)
                                    </td>
                                    <td>
                                        @Html.EditorFor(item => item.Attendences[i].Date, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                    </td>
                                    <td>
                                        @if (Model.Attendences[i].IsSelect == true)
                                        {
                                            <span class="label label-info">Present</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning">Absent</span>
                                        }
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        $('#EmployeeID').select2();
           $('#FromDate').datetimepicker({
          @{
              if (ViewBag.SearchDate == null)
              {
                    @:defaultDate: moment(),
              }
              else
              {
                  @:defaultDate: '@(Convert.ToDateTime(ViewBag.SearchDate).ToString("MMMM-yyyy"))',
              }
            @:format: 'MMMM-YYYY'
           }
        });
    });

    $(document).on('change', '#AllSelect', function () {
        if (this.checked) {
            $('input[id$="__IsSelect"]').prop('checked', true);
        }
        else {
            $('input[id$="__IsSelect"]').prop('checked', false);
        }
    });

</script>
