@using IMSWEB.Model
@model IMSWEB.GetCustomerViewModel
@{
    ViewBag.Title = "Admin Sales Report";
}

<h4>@(ViewBag.Title + ".")</h4>
<hr />

@using (Ajax.BeginForm("AdminDailySalesReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form" }))
{
    <input type="hidden" id="ClientDateTime" name="ClientDateTime" />
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-9 input-group date' id='FromDate'>
                            <input type='text' class="input-sm form-control input-sm" name='FromDate' />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-9 input-group date' id='ToDate'>
                            <input type='text' class="input-sm form-control input-sm" name='ToDate' />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class=form-group>
                        <label class="control-label col-md-3">Concern</label>
                        <div class="col-md-9">
                            @Html.DropDownList("ConcernID", @ViewBag.Concerns as SelectList, "--All Concerns--", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Customer Type</label>
                        <div class='col-md-9 input-group col-sm-offset-3' id='rbCustomerType'>
                            @Html.EnumDropDownListFor(i => i.CustomerType, "--All customer type--", new { @class = "form-control input-sm" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">

                        </div>
                        <div class='col-md-9 input-group date' id='FromDate'>
                            <input id="rdoSummary" type="radio" title="Summary" value="1" name="ReportType" checked />Summary &nbsp;&nbsp;
                            <input id="rdioDetail" title="Detail" type="radio" value="2" name="ReportType" />Detail
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                        </div>
                        <div class="col-md-9">
                            <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                        </div>
                    </div>
                    @*@A.ActionLink("Preview", "ExpenditureReport", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })*@
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#ConcernID').select2();
        $('#FromDate').datetimepicker({
            defaultDate: moment(),
            format: 'DD-MMM-YYYY'
        });

        $('#ToDate').datetimepicker({
            defaultDate: moment(),
            format: 'DD-MMM-YYYY'
        });
    });


</script>
