@using IMSWEB.Model
@model SalesOrderViewModel

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + " Sales Order";
    var sysInfo = Session["SystemInfo"] as CreateSystemInformationViewModel;
}
<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (Html.BeginForm(actionName, "SalesOrder", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.InvoiceNo, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.InvoiceNo, new { htmlAttributes = new { @class = "input-sm form-control input-sm" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.InvoiceNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.OrderDate, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            <div class='input-group date' id='OrderDate'>
                                                @if (User.IsInRole("Mobile User"))
                                                {
                                                    <input type='text' class="input-sm form-control input-sm" name='OrderDate' readonly />
                                                }
                                                else
                                                {
                                                    <input type='text' class="input-sm form-control input-sm" name='OrderDate' />
                                                }
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.SalesOrder.OrderDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.CustomerId, new { @class = "control-label col-md-2 full-width-picker-label" })
                                        <div class="col-md-10 full-width-picker">
                                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.ExceptCreditCustomer, id = (Model != null && Model.SalesOrder.CustomerId != null) ? Model.SalesOrder.CustomerId : "0" });}
                                            @Html.ValidationMessageFor(m => m.SalesOrder.CustomerId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-lg-8 col-md-8  col-sm-12  col-xs-12 col-lg-offset-4 col-md-offset-4">
                                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#NewCustomerModal">
                                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Add Customer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.CurrentDue, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.CurrentDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.CurrentDue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <b><span id="SalesOrder_OfferDescription" class="tag">@Model.SalesOrder.OfferDescription</span></b>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label>
                                        <input type="checkbox" id="chkManualIMEIInput" name="chkManualIMEIInput" class="checkbox-inline" value="Manual" />
                                        <span>Manual</span>
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input class="input-sm form-control text-box single-line" id="externalIMENo" tabindex="0" name="externalIMENo" style="margin-left: 5px !important;margin-right: 5px !important; width:98%;" type="text" value="">
                                        <span style="display:none" class="text-danger" id="externalIMENoErrorID">IMEI not avaiable in stock.</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.ProductId, new { @class = "control-label col-md-2 full-width-picker-label" })
                                        <div class="col-md-10 full-width-picker">
                                            @{
                                                Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.ProductDetail, id = (Model != null && Model.SODetail.ProductId != null) ? Model.SODetail.ProductId : "0" });
                                            }
                                            @Html.HiddenFor(m => m.SODetail.StockDetailId)
                                            @Html.ValidationMessageFor(m => m.SODetail.ProductId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.PreviousStock, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SODetail.PreviousStock, new { htmlAttributes = new { @class = "input-sm form-control", @readonly = "readonly", tabindex = -2 } })
                                            @Html.ValidationMessageFor(m => m.SODetail.PreviousStock, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.IMENo, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SODetail.IMENo, new { htmlAttributes = new { @class = "input-sm form-control", @readonly = "readonly", tabindex = -3 } })
                                            @Html.ValidationMessageFor(m => m.SODetail.IMENo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.Quantity, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SODetail.Quantity, new { htmlAttributes = new { @class = "input-sm form-control text-right", type = "number", tabindex = -4 } })
                                            @Html.ValidationMessageFor(m => m.SODetail.Quantity, "", new { @class = "text-danger" })

                                            @Html.HiddenFor(m => m.SODetail.MRPRate, new { htmlAttributes = new { @class = "", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.SODetail.MRPRate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    @if (sysInfo != null && sysInfo.IsSalesPPDiscountShow)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SODetail.PPDPercentage, new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(m => m.SODetail.PPDPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = -6 } })
                                                @Html.ValidationMessageFor(m => m.SODetail.PPDPercentage, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(m => m.SODetail.PPOffer, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(m => m.SODetail.PPDPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = -7 } })
                                    }

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.ColorName, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SODetail.ColorName, new { htmlAttributes = new { @class = "input-sm form-control", @readonly = "readonly", tabindex = -9 } })
                                            @Html.ValidationMessageFor(m => m.SODetail.ColorName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.UnitPrice, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @if (User.IsInRole("Mobile User"))
                                            {
                                                @Html.EditorFor(m => m.SODetail.UnitPrice, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            }
                                            else
                                            {
                                                @Html.EditorFor(m => m.SODetail.UnitPrice, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 1 } })
                                            }
                                            @Html.ValidationMessageFor(m => m.SODetail.UnitPrice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @if (sysInfo != null && sysInfo.IsSalesPPDiscountShow)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SODetail.PPDAmount, new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(m => m.SODetail.PPDAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                                @Html.ValidationMessageFor(m => m.SODetail.PPDAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(m => m.SODetail.PPDAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    }
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.UTAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SODetail.UTAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly", tabindex = -11 } })
                                            @Html.ValidationMessageFor(m => m.SODetail.UTAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body" style="overflow: auto; height: 167px;">
                                    <table id="IMEITable"
                                           class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr style="border: 1px solid #223dd2">
                                                <th>
                                                    Sl
                                                </th>
                                                <th data-field="productName"
                                                    data-sortable="true">
                                                    Product
                                                </th>
                                                <th data-field="IMENo"
                                                    data-sorter="sorter"
                                                    data-sortable="true">
                                                    IMEI
                                                </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int counter = 1;
                                                foreach (var item in Model.IMEIList)
                                                {
                                                    <tr>
                                                        <td>@counter</td>
                                                        <td>@item.ProductName</td>
                                                        <td>
                                                            <input type="text" readonly class="form-control input-sm input-sm" name="@("IMEI"+counter.ToString())" value="@item.IMENo" />
                                                            <input type="hidden" id="@("ProductID"+@counter)" value=@item.ProductId />
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger btn-xs ml-1" onclick="RemoveIMEI(this)" name="btnRemoveIMEI" id="btnRemoveIMEI"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    counter++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table id="productTable"
                                           data-toggle="table"
                                           data-height="175"
                                           class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Sl
                                                </th>
                                                <th data-field="code"
                                                    data-sortable="true">
                                                    Product
                                                </th>
                                                <th data-field="productName"
                                                    data-sorter="sorter"
                                                    data-sortable="true">
                                                    @Html.DisplayNameFor(model => model.SODetail.IMENo)
                                                </th>
                                                <th data-field="qauntity"
                                                    data-sortable="true">
                                                    @Html.DisplayNameFor(model => model.SODetail.Quantity)
                                                </th>
                                                <th data-field="unitPrice"
                                                    data-sortable="true">
                                                    @Html.DisplayNameFor(model => model.SODetail.UnitPrice)
                                                </th>
                                                <th data-field="discountPercent"
                                                    data-sortable="true">
                                                    Dis (%)
                                                </th>
                                                <th data-field="discountAmount"
                                                    data-sortable="true">
                                                    Dis.Amt
                                                </th>

                                                <th>
                                                    @Html.DisplayNameFor(model => model.SODetail.UTAmount)
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int count = 1;
                                                foreach (var item in Model.SODetails)
                                                {
                                                    if (item.Status == EnumStatus.Updated || item.Status == EnumStatus.Deleted) { continue; }
                                                    <tr>
                                                        <td>
                                                            @count
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ProductName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IMENo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Quantity)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PPDPercentage)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PPDAmount)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UTAmount)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "EditFromView", new { id = item.ProductId, detailId = item.StockDetailId, previousAction = actionName.ToLower() }, new { @class = "btn btn-xs btn-info" })
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Delete", "DeleteFromView", new { id = item.ProductId, detailId = item.StockDetailId, previousAction = actionName.ToLower() }, new { onclick = "if(!confirm('Do you want to delete this order?')) return false;" })
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-right btn-group">
                                <button type="submit" class="btn btn-sm btn-primary mr-1" id="addButton" name="addButton" value="Add to order">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>   &nbsp; Add to order
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.BankID, new { @class = "control-label col-md-4 full-width-picker-label" })
                                        <div class="col-md-8 full-width-picker">
                                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Bank, id = (Model != null && Model.SalesOrder.BankID != 0) ? Model.SalesOrder.BankID : 0 });}
                                            @Html.ValidationMessageFor(m => m.SalesOrder.BankID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.CardTypeID, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.SalesOrder.CardTypeID, new SelectList(Model.SalesOrder.CardTypes, "CardTypeID", "Description"), new { @class = "form-control input-sm text-right", type = "number", step = "0.01" })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.CardTypeID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.CardPaidAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.CardPaidAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.CardPaidAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.TotalDiscountPercentage, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.TotalDiscountPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.TotalDiscountPercentage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.NetDiscount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.NetDiscount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.NetDiscount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.VATPercentage, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.VATPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.VATPercentage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.RemindDate, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            <div class='input-group date' id='RemindDate'>
                                                <input type='text' class="input-sm form-control input-sm" name='RemindDate' />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.SalesOrder.RemindDate, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.SalesOrder.TotalOffer, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.HiddenFor(m => m.SalesOrder.GrandTotal)
                                            @Html.HiddenFor(m => m.SalesOrder.PPDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.HiddenFor(m => m.SalesOrder.TempFlatDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.TotalDiscountAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.TotalDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.TotalDiscountAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.AdjAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.AdjAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.AdjAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.VATAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.VATAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.VATAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.Remarks, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.Remarks, new { htmlAttributes = new { @class = "input-sm form-control input-sm", type = "text", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4" style="padding-right: 5px !important;">

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.TotalAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.TotalAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.TotalAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.CashPaidAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.CashPaidAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 2 } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.CashPaidAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.RecieveAmount, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.RecieveAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.RecieveAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SalesOrder.PaymentDue, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SalesOrder.PaymentDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.PaymentDue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            @Html.EditorFor(m => m.SalesOrder.IsSmsEnable, new { htmlAttributes = new { @class = "form-check-input" } })
                                            @Html.LabelFor(m => m.SalesOrder.IsSmsEnable, htmlAttributes: new { @class = "form-check-label" })
                                            @Html.ValidationMessageFor(m => m.SalesOrder.IsSmsEnable, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-sm btn-primary pull-right" name="submitButton" id="submitButton" value="Save order">
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp; Save order
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<div id="NewCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Create New Retail Customer</h5>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerName">Name:</label>
                        <div class=" col-sm-9 col-md-9 col-lg-9">
                            <input type="text" class="form-control input-sm" id="txtNewCustomerName" placeholder="Enter Name" name="txtNewCustomerName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerContact">Contact No.:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" class="form-control input-sm" id="txtNewCustomerContact" placeholder="Enter Contact Number" name="txtNewCustomerContact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerAddress">Address:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" class="form-control input-sm" id="txtNewCustomerAddress" placeholder="Enter Address" name="txtNewCustomerAddress">
                            <input type="hidden" value="0.00" class="form-control input-sm" id="txtNewCustomerOpeningDue" placeholder="Enter Opening Due" name="txtNewCustomerOpeningDue">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerOpeningDue">Opening Due:</label>
                            <div class=" col-sm-9 col-md-9 col-lg-9">
                                <input type="number" class="form-control input-sm" id="txtNewCustomerOpeningDue" placeholder="Enter Opening Due" name="txtNewCustomerOpeningDue">
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveNewCustomer" class="btn btn-primary btn-sm">Save</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 112) {
                $('#addButton').click();
                event.preventDefault();
                return false;
            }
            else if (event.keyCode == 113) {
                $('#submitButton').click();
                event.preventDefault();
                return false;
            }
            else if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }


        });

        @if(Model!=null && Model.SODetail!=null)
        {
            if(Model.SODetail.SODetailId!=null)
            {
                @:$('#StockDetailsId').val("@Model.SODetail.StockDetailId");
            }
        }
        @if(Model.SalesOrder!=null)
        {
            if(!string.IsNullOrEmpty(Model.SalesOrder.TotalDiscountPercentage))
            {
                if(Convert.ToDecimal(Model.SalesOrder.TotalDiscountPercentage)>0)
                {
                    @:$("#SalesOrder_TotalDiscountPercentage").trigger('input');
                }
            }
        }
        @if(Model.SODetails.Count()>0)
        {
           @:$('#SalesOrder_CashPaidAmount').attr('autofocus', 'autofocus');
        }
        else
        {
            //@:$('#externalIMENo').attr('autofocus', 'autofocus');
            @:$('#externalIMENo').focus();
        }
    });

    $('#OrderDate').datetimepicker({
        @{
                if (Model == null || Model.SalesOrder.OrderDate == null) {
                    @:defaultDate: moment(),
                                                                                                                            }
                else
                {
            @:defaultDate:'@(Convert.ToDateTime(Model.SalesOrder.OrderDate).ToString("dd-MMM-yyyy"))',
                                                                                                                    }
            @:format: 'DD-MMM-YYYY'
                                                                                                                            }
    });

    $('#RemindDate').datetimepicker({
        @{
        if (Model == null || Model.SalesOrder.RemindDate == null)
        {
                @:defaultDate: moment(),
                                                }
                else
                {
                @:defaultDate:'@(Convert.ToDateTime(Model.SalesOrder.RemindDate).ToString("dd-MMM-yyyy"))',
                                                }
                @:format: 'DD-MMM-YYYY'
                                    }
    });


    //*******************************************
    //**********Scan IMEI Start******************
    //*******************************************
    var timer = null;

    $(document).on('change', '#chkManualIMEIInput', function () {
        if (timer) {
            clearTimeout(timer); //cancel the previous timer.
            timer = null;
        }
        timer = setTimeout(function () {
            $("#externalIMENo").trigger("input");
        }, 500)

    });

    $("#externalIMENo").on("input", function () {

        var IsManual = $("#chkManualIMEIInput").is(':checked');
        if (IsManual == true) {
            return;
        }


        if (timer) {
            clearTimeout(timer); //cancel the previous timer.
            timer = null;
        }

        timer = setTimeout(function () {

            $("#externalIMENoErrorID").hide();
            var IMEI = $("#externalIMENo").val();
            if (IMEI == "" || IMEI == undefined) {
                toastr.error("Please enter IMEI");
                return;
            }

            $("#IMEITable").find(".no-records-found").remove();
            var counter = parseFloat($('#IMEITable >tbody >tr').length);

            if (IsDuplicateIMEI(IMEI, counter)) {
                toastr.error("Duplicate IMEI");
                return;
            }

            counter = counter + 1;
            GetIMEIDetails(IMEI, counter);
        }, 500)

    });


    function GetIMEIDetails(IMEI, counter) {
        $.ajax({
            url: "/SalesOrder/GetProductDetailByIMEINo",
            type: "GET",
            data: { 'imeiNo': IMEI },
            dataType: "json",
            success: function (data) {
                if (data.status == false) {
                    toastr.error(data.msg);
                }
                else {
                    if (IsValidProduct(data.data.Id, counter) == false) {
                        return;
                    }
                    setPickerControls(data.data);
                    PopulateIMEITable(counter, data.data);
                }
                $("#externalIMENo").val('');
                $("#externalIMENo").attr('autofocus', 'autofocus');
            },
            error: function (err) {
                clearPickerControls();
                console.error(JSON.stringify(err));
            }
        });
    }


    function setPickerControls(data) {

        if (data && data.Code != '') {
            $("#ProductDetailsCode").val(data.Code);
            $("#ProductDetailsName").val(data.Name);
            $("#ProductDetailsId").val(data.Id);
            $("#StockDetailsId").val(data.StockDetailId);
            $("#ColorsId").val(data.ColorId);
            $("#SODetail_ColorName").val(data.ColorName);
            $("#SalesOrder_OfferDescription").text(data.OfferDescription);
            $("#Offer").val(data.OfferDescription);
            $("#SODetail_Quantity").val(1);
            $("#SODetail_IMENo").val(data.IMEINo);
            $("#SODetail_MRPRate").val(data.MrpRate).trigger("input");
            $("#SODetail_PPOffer").val(data.OfferValue).trigger("input");

        }
        else {
            clearPickerControls();
        }
    }

    function IsDuplicateIMEI(IMEI, counter) {
        var i;
        for (i = 1; i <= counter; i++) {
            var id = "#IMEI" + i;
            var EIMEI = ($(id).val()).trim();
            if (IMEI == EIMEI) {
                $("#txtScanIMEI").val("");
                return true;
            }
        }
        return false;
    }

    function IsValidProduct(ProductID, counter) {
        var i;
        counter = counter - 1;
        for (i = 1; i <= counter; i++) {
            var id = "#ProductID" + i;
            var EProductID = ($(id).val()).trim();
            if (ProductID != EProductID) {
                $("#externalIMENo").val("");
                toastr.error("Only the same model is allowed to scan.");
                return false;
            }
        }
        return true;
    }

    function PopulateIMEITable(counter, data) {

        var newrow = $("<tr>");
        var cols = "";
        newrow = $("<tr>");
        cols = "";
        cols += '<td>' + counter + '</td>';
        cols += '<td>' + data.Name + '</td>';
        cols += '<td><input type="text" readonly class="form-control input-sm input-sm" name="IMEI' + counter + '" id="IMEI' + counter + '" value="' + data.IMEINo + '" /> <input type="hidden" id="ProductID' + counter + '" value="' + data.Id + '"/> </td>';
        cols += '<td><button type="button" class="btn btn-danger btn-xs ml-1" onclick="RemoveIMEI(this)" name="btnRemoveIMEI" id="btnRemoveIMEI"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>'
        newrow.append(cols);
        $("#IMEITable").prepend(newrow);
        $('#SODetail_Quantity').prop("readonly", true);
        $('#SODetail_Quantity').val(counter).trigger('input');
    }

    function RemoveIMEI(e) {
        $(e).parents("tr").remove();
        var ProductName = $('#ProductDetailsName').val();
        var ProductID = $('#ProductDetailsId').val();
        var $inputs = $('#IMEITable').find('input[id*="IMEI"]');
        $('#IMEITable>tbody').empty();
        $inputs.each(function (i, input) {
            var IMEI = $(input).val();
            var data = {
                Name: ProductName,
                Id: ProductID,
                IMEINo: IMEI
            };
            PopulateIMEITable((i + 1), data);
        });
    };

    function clearPickerControls() {
        $("#ProductDetailsCode").val('');
        $("#ProductDetailsName").val('');
        $("#ProductDetailsId").val('');
        $("#StockDetailsId").val('');
        $("#ColorsId").val('');
        $("#SODetail_ColorName").val('');
        $("#Offer").val('');
        $("#SalesOrder_OfferDescription").val('');
        $("#SODetail_Quantity").val('');
        $("#SODetail_IMENo").val('');
        $("#SODetail_MRPRate").val('').trigger("input");

    }

    //*******************************************
    //**********Scan IMEI End********************
    //*******************************************


    //*************************
    //Per Product event
    //*************************

    $("#SODetail_Quantity").on("input",function(){
        calculateSorderDetailsValue();
    });

    $("#SODetail_MRPRate").on("input", function () {
        var MRPRate= getDefaultFloatIfEmpty($(this).val());
        $("#SODetail_UnitPrice").val(MRPRate).trigger("input");
    });

    $("#SODetail_UnitPrice").on("input", function () {
        calculateSorderDetailsValue();
        $("#SODetail_PPDPercentage").trigger("input");
    });

    $("#SODetail_PPDPercentage").on("input", function () {
        var percentage = getDefaultFloatIfEmpty($(this).val());
        var quantity = getDefaultIntIfEmpty($("#SODetail_Quantity").val());
        var unitpr = getDefaultFloatIfEmpty($("#SODetail_UnitPrice").val());
        var amount = getDefaultFloatIfEmpty(((unitpr) * percentage) / 100).toFixed(2);
        $("#SODetail_PPDAmount").val(amount);
        calculateSorderDetailsValue() ;
    });

    $("#SODetail_PPDAmount").on("input", function () {
        var quantity = getDefaultIntIfEmpty($("#SODetail_Quantity").val());
        var MRP = getDefaultFloatIfEmpty($("#SODetail_UnitPrice").val());
        var percentage = getDefaultFloatIfEmpty((100 * this.value) /MRP).toFixed(4);
        $("#SODetail_PPDPercentage").val(percentage);
        calculateSorderDetailsValue() ;
    });

    $("#SODetail_PPOffer").on("input", function () {
        calculateSorderDetailsValue();
        $("#SODetail_PPDPercentage").trigger("input");
    });


    function calculateSorderDetailsValue() {

        var quantity = getDefaultIntIfEmpty($("#SODetail_Quantity").val());
        var unitpr = getDefaultFloatIfEmpty($("#SODetail_UnitPrice").val());
        var MRP = getDefaultFloatIfEmpty($("#SODetail_MRPRate").val());
        var PPDAmount =  getDefaultFloatIfEmpty($("#SODetail_PPDAmount").val());
        var Offeramount = getDefaultFloatIfEmpty($("#SODetail_PPOffer").val());
        var utamount = ((unitpr * quantity) - (PPDAmount * quantity)-(Offeramount*quantity)).toFixed(2);
        $("#SODetail_UTAmount").val(utamount);
    }


    //*************************
    //Per Product event end
    //*************************


    //Flat discount percentage
    $("#SalesOrder_TotalDiscountPercentage").on("input", function () {
        var flatPercent = getDefaultFloatIfEmpty($(this).val());
        var totalPPDisAmt = getDefaultFloatIfEmpty($("#SalesOrder_PPDiscountAmount").val());
        var GrandTotal = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty(((GrandTotal - totalPPDisAmt) * flatPercent) / 100).toFixed(2);
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        $("#SalesOrder_TotalDiscountAmount").val(Math.round(totalDiscountAmount));
        calculateVariousValue(totalDiscountAmount, vatAmount, GrandTotal,true);
        UpdateReceiveAmount();
    });

    //Flat discount amount
    $("#SalesOrder_TotalDiscountAmount").on("input", function () {
        var flatDiscountAmt = getDefaultFloatIfEmpty($(this).val());
        var GrandTotal = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalPPDisAmt = getDefaultFloatIfEmpty($("#SalesOrder_PPDiscountAmount").val());

        var totalPercentage = getDefaultFloatIfEmpty((100 * flatDiscountAmt) / (GrandTotal - totalPPDisAmt)).toFixed(2);
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        $("#SalesOrder_TotalDiscountPercentage").val(totalPercentage);
        calculateVariousValue(flatDiscountAmt, vatAmount, GrandTotal,false);
        UpdateReceiveAmount();
    });

    $("#SalesOrder_VATPercentage").on("input", function () {
        var vatPercentage = getDefaultFloatIfEmpty($(this).val());
        var GrandTotal = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var netDiscount = getDefaultFloatIfEmpty($("#SalesOrder_NetDiscount").val());
        var vatAmount = getDefaultFloatIfEmpty(((GrandTotal - netDiscount) * vatPercentage) / 100);
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());

        $("#SalesOrder_VATAmount").val(vatAmount.toFixed(2));
        calculateVariousValue(totalDiscountAmount, vatAmount, GrandTotal, false);
    });

    $("#SalesOrder_VATAmount").on("input", function () {
        var vatAmount = getDefaultFloatIfEmpty($(this).val());
        var GrandTotal = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var netDiscount = getDefaultFloatIfEmpty($("#SalesOrder_NetDiscount").val());
        var vatPercentage = getDefaultFloatIfEmpty((100 * vatAmount) / (GrandTotal - netDiscount));
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());

        $("#SalesOrder_VATPercentage").val(vatPercentage.toFixed(2));
        calculateVariousValue(totalDiscountAmount, vatAmount, GrandTotal, false);
    });

    $("#SalesOrder_RecieveAmount").on("input", function () {
        var GrandTotal = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, vatAmount, GrandTotal, false);
    });

    $("#SalesOrder_AdjAmount").on("input", function () {
        var GrandTotal = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, vatAmount, GrandTotal, false);
        UpdateReceiveAmount();
    });

    function calculateVariousValue(flatDiscountAmount, vatAmount, GrandtotalAmount,IsFlatDiscPercent) {
        var totalPPDisAmt = getDefaultFloatIfEmpty($("#SalesOrder_PPDiscountAmount").val());
        var recieveAmount = getDefaultFloatIfEmpty($("#SalesOrder_RecieveAmount").val());
        var adjAmount = getDefaultFloatIfEmpty($("#SalesOrder_AdjAmount").val());
        var TotalOffer=getDefaultFloatIfEmpty($("#SalesOrder_TotalOffer").val());
        //var dueAmount = getDefaultFloatIfEmpty($("#SalesOrder_CurrentDue").val());
        //var tempFlatDisAmount = getDefaultFloatIfEmpty($("#SalesOrder_TempFlatDiscountAmount").val());
        //var FlatPercent = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountPercentage").val());
        //var updateFlateDisAmt = (((GrandtotalAmount - totalPPDisAmt) * FlatPercent) / 100);// flatDiscountAmount - tempFlatDisAmount;

        var updatedNetDiscountAmount = parseFloat(flatDiscountAmount) + parseFloat(totalPPDisAmt) + parseFloat(TotalOffer);

        $("#SalesOrder_NetDiscount").val(getDefaultFloatIfEmpty(updatedNetDiscountAmount).toFixed(2));
        $("#SalesOrder_TotalAmount").val(getDefaultFloatIfEmpty((GrandtotalAmount - (updatedNetDiscountAmount + adjAmount)) + vatAmount).toFixed(2));
        $("#SalesOrder_PaymentDue").val(getDefaultFloatIfEmpty(((GrandtotalAmount - (updatedNetDiscountAmount + adjAmount)) + vatAmount) - recieveAmount).toFixed(2));
    }



    //Create New Retail Customer
    $(document).on('click','#btnSaveNewCustomer',function(){
        //alert("OK")
        var name = $("#txtNewCustomerName").val();
        var Contact = $("#txtNewCustomerContact").val();
        var Address = $("#txtNewCustomerAddress").val();
        var OpeningDue = $("#txtNewCustomerOpeningDue").val();
        var CustomerType ="@EnumCustomerType.Retail";
        if(name=="")
        {
            $("#txtNewCustomerName").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerName").attr('style','border:1px solid #c4daf1  !important');
        }
        if(Contact=="")
        {
            $("#txtNewCustomerContact").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerContact").attr('style','border:1px solid #c4daf1  !important');
        }
        if(Address=="")
        {
            $("#txtNewCustomerAddress").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerAddress").attr('style','border:1px solid #c4daf1  !important');
        }
        if(OpeningDue=="")
        {
            $("#txtNewCustomerOpeningDue").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerOpeningDue").attr('style','border:1px solid #c4daf1  !important');
        }
        if(name==""||Contact==""||Address==""||OpeningDue=="")
        {
            return;
        }
        var model ={
            Id :0,
            Code:"",
            Name:name,
            ContactNo:Contact,
            Address:Address,
            TotalDue:OpeningDue,
            CustomerType:CustomerType
        };

        $.ajax({
            url: "/Customer/CreateCustomer",
            type: "POST",
            data:model,
            dataType: "json",
            success: function (data) {
                if(data.Result==false)
                {
                    toastr.error(data.ErrorMsg);
                }
                else
                {
                    toastr.info(data.ErrorMsg);
                    $("#NewCustomerModal").modal('toggle');
                    SetData(data.Customer)
                    ClearTextBox();
                }
            },
            error: function (err) {
                toastr.error(JSON.stringify(err));
            }
        });
    });

    function SetData(Customer)
    {
        $("#CustomersCode").val(Customer.Code);
        $("#CustomersName").val(Customer.Name);
        $("#CustomersId").val(Customer.Id);
        $("#SalesOrder_CurrentDue").val(Customer.TotalDue);
    }

    function ClearTextBox()
    {
        $("#txtNewCustomerName").val("");
        $("#txtNewCustomerContact").val("");
        $("#txtNewCustomerAddress").val("");
        $("#txtNewCustomerOpeningDue").val(0);
    }
    //Customer add end

    //======================================
    //=========Card Payment=================
    //======================================

    $("#SalesOrder_CardTypeID").select2();

    //$('#BanksModal').on('hidden.bs.modal', function () {


    //});

    $(document).on('input','#BanksId',function(){
        PopulateCardTypeDropdown();
    });

    function PopulateCardTypeDropdown()
    {
        var BankID = $("#BanksId").val();
        if(BankID==undefined|| BankID=="")
        {
            toastr.error("Please select Bank");
            return;
        }

        $.ajax({
            url: "/SalesOrder/GetCardType",
            type: "GET",
            data: { 'BankID': BankID },
            dataType: "json",
            success: function (data) {

                $("#SalesOrder_CardTypeID").empty();
                if(data==false)
                {
                    $("#SalesOrder_CardTypeID").empty();
                }
                else
                {
                    $.each(data, function(i,item) {
                        $("#SalesOrder_CardTypeID").append(
                            $('<option/>', {
                                value: item.CardTypeID,
                                html: item.Description
                            })
                        );
                    });
                }
            },
            error: function (err) {
                console.error(JSON.stringify(err));
            }
        });
    }

    function UpdateReceiveAmount(){
        var CardPaidAmt = getDefaultFloatIfEmpty($("#SalesOrder_CardPaidAmount").val());
        var CashPaidAmt = 0;
        var TotalAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalAmount").val());
        //var FlatDiscount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
        //var AdjAmount = getDefaultFloatIfEmpty($("#SalesOrder_AdjAmount").val());
        //var CustomerType = $('#CustomerType').val();
        //if (CustomerType != "Dealer") {
        //    CashPaidAmt = TotalAmount-CardPaidAmt;
        //}
        //else {
            CashPaidAmt = getDefaultFloatIfEmpty($("#SalesOrder_CashPaidAmount").val());
        //}

        var TotalPaidAmt = CardPaidAmt+CashPaidAmt;
        $("#SalesOrder_RecieveAmount").val(TotalPaidAmt).trigger("input");
        //$("#SalesOrder_CashPaidAmount").val(CashPaidAmt);
    }

    $(document).on('input','#SalesOrder_CardPaidAmount',function(){
        UpdateReceiveAmount();
    });

    $(document).on('input','#SalesOrder_CashPaidAmount',function(){
        UpdateReceiveAmount();
    });
    //======================================
    //=========Card Payment=================
    //======================================

    $(document).on('click', '#addButton', function (e) {
        var IsValid = true;
        var CustomersId = $("#CustomersId").val();
        if (CustomersId == "") {
            e.preventDefault();
            toastr.error("Please select customer");
            IsValid = false;
            $("#CustomersCode").focus()
            return false;
        }

        if (IsValid) {
            var ProductName = $("#ProductDetailsId").val();
            if (ProductName == "") {
                e.preventDefault();
                toastr.error("Please select product");
                IsValid = false;
                $("#ProductDetailsCode").focus()
                return false;
            }
        }


        if (IsValid) {
            var MRPRate = $("#SODetail_UnitPrice").val();
            if (MRPRate == "") {
                e.preventDefault();
                toastr.error("Please enter sales rate");
                IsValid = false;
                $("#SODetail_UnitPrice").focus()
                return false;
            }
        }

        if (IsValid) {
            var Quantity = $("#SODetail_Quantity").val();
            if (Quantity == "") {
                e.preventDefault();
                toastr.error("Please enter quantity");
                IsValid = false;
                $("#SODetail_Quantity").focus()
                return false;
            }
        }
        if (IsValid) {
            var counter = parseFloat($('#IMEITable >tbody >tr').length) + 1;
            var ProductDetailsId = $("#ProductDetailsId").val();
            if (!IsValidProduct(ProductDetailsId,counter)){
                e.preventDefault();
                //toastr.error("Please enter quantity");
                IsValid = false;
                $("#ProductDetailsCode").focus()
                return false;
            }
        }


    });


    $(document).on('click', '#submitButton', function (e) {
        var IsValid = true;
        var CustomersId = $("#CustomersId").val();
        if (CustomersId == "") {
            e.preventDefault();
            toastr.error("Please select customer");
            IsValid = false;
            $("#CustomersCode").focus()
            return false;
        }
    });


    $("#btnSaveSales").click(function () {
        setTimeout(function () { disableButton(); }, 50);

    });

    function disableButton() {
        $("#btnSaveSales").prop('disabled', true);
    }

</script>

<script>
$(document).ready(function () {
@{
     if (TempData.ContainsKey("IsInvoiceReady") && Convert.ToBoolean(TempData["IsInvoiceReady"]) == true)
    {
        @:$.ajax({
        @:url: "/Report/SalesInvoice",
        @:type: "GET",
        @:dataType: "html",
        @:success: function (data) {
        @:$('#report').html(data);
        @:},
        @:error: function (err) {
        @:console.error(JSON.stringify(err));
        @:}
        @:});
     }
}
    });
</script>
